<h1>New Prompt</h1>
<%= turbo_frame_tag "new_prompt_entry_frame" do %>
  <%= form_with model: @prompt_entry do |form| %>
    <div>
       <%= form.text_area :prompt, class: "min-w-0 flex-auto rounded-md border-0 bg-white/5 px-3.5 py-2 text-black shadow-sm ring-1 ring-inset ring-black/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" %>
      <% @prompt_entry.errors.full_messages_for(:prompt).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
    <div class="mt-4" >
      <button class="flex-none rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
      <%= form.submit %>
      </button>
    </div>
  <% end %>
<% end %>
