<h1>New Prompt</h1>
<%= link_to sanitize("&larr; Back to quotes"), prompt_entries_path %>
<%= turbo_frame_tag "new_prompt_entry_frame" do %>
  <%= form_with model: @prompt_entry do |form| %>
    <div>
      <%= form.label :prompt %><br>
      <%= form.text_field :prompt %>
      <% @prompt_entry.errors.full_messages_for(:prompt).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
    <div>
      <%= form.submit %>
    </div>
  <% end %>
<% end %>
